
/*Card Code*/
.example-card {
    max-width: 73%;
    position: relative;
    top: 0;
    left: 0;
    transform: translate(18%, 0px);
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.botton_outline {
    width: 100px;
    background: #e8e8e85c;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
}

.button_group {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
}

.line {
    border-left: 1px solid black;
    height: 50px;
}

/*End Card Code*/
